In [124]:
import pandas as pd
import numpy as np
import requests

In [125]:
spotify_1m = pd.read_csv('./Resources/tracks_features.csv')

In [126]:
spotify_1m['artist'] = spotify_1m['artists'].str.strip("[']")
spotify_1m.head()

,id,name,album,album_id,artists,artist_ids,track_number,disc_number,explicit,danceability,...,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,year,release_date,artist
0,7lmeHLHBe4nmXzuXc0HDjk,Testify,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],1,1,False,0.470,...,0.02610,0.000011,0.3560,0.503,117.906,210133,4.0,1999,1999-11-02,Rage Against The Machine
1,1wsRitfRRtWyEapl0q22o8,Guerrilla Radio,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],2,1,True,0.599,...,0.01290,0.000071,0.1550,0.489,103.680,206200,4.0,1999,1999-11-02,Rage Against The Machine
2,1hR0fIFK2qRG3f3RF70pb7,Calm Like a Bomb,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],3,1,False,0.315,...,0.02340,0.000002,0.1220,0.370,149.749,298893,4.0,1999,1999-11-02,Rage Against The Machine
3,2lbASgTSoDO7MTuLAXlTW0,Mic Check,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],4,1,True,0.440,...,0.16300,0.000004,0.1210,0.574,96.752,213640,4.0,1999,1999-11-02,Rage Against The Machine
4,1MQTmpYOZ6fcMQc56Hdo7T,Sleep Now In the Fire,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],5,1,False,0.426,...,0.00162,0.105000,0.0789,0.539,127.059,205600,4.0,1999,1999-11-02,Rage Against The Machine

In [154]:
df = pd.read_csv('./Resources/charts.csv')
df['date'] = pd.to_datetime(df['date'])
df['year'] = df['date'].dt.year
df['artist'] = df['artist'].str.replace(r"\(.*\)","")
df = df[df['year']>=1960]

# df.groupby(['song', 'artist'])
df['weeks-at-no1'] = df[df['rank']==1].groupby(['song', 'artist', 'rank'], as_index=False).count()['date']
# df[df['rank']==1].groupby(['song', 'artist'], as_index=False).count()

df.head()

,date,rank,song,artist,last-week,peak-rank,weeks-on-board,year,weeks-at-no1
0,2021-11-06,1,Easy On Me,Adele,1.0,1,3,2021,1.0
1,2021-11-06,2,Stay,The Kid LAROI & Justin Bieber,2.0,1,16,2021,7.0
2,2021-11-06,3,Industry Baby,Lil Nas X & Jack Harlow,3.0,1,14,2021,1.0
3,2021-11-06,4,Fancy Like,Walker Hayes,4.0,3,19,2021,4.0
4,2021-11-06,5,Bad Habits,Ed Sheeran,5.0,2,18,2021,2.0

In [164]:
unique_billboard_tracks_df = df.groupby(['song','artist', 'year'], as_index=False).agg({'peak-rank': 'min', 
                                                                                        'weeks-on-board': 'max',
                                                                                        'weeks-at-no1': 'max'})

billboard_1960s = unique_billboard_tracks_df[(unique_billboard_tracks_df['year']<1970) & (unique_billboard_tracks_df['year']>=1960)]
billboard_1970s = unique_billboard_tracks_df[(unique_billboard_tracks_df['year']<1980) & (unique_billboard_tracks_df['year']>=1970)]
billboard_1980s = unique_billboard_tracks_df[(unique_billboard_tracks_df['year']<1990) & (unique_billboard_tracks_df['year']>=1980)]
billboard_1990s = unique_billboard_tracks_df[(unique_billboard_tracks_df['year']<2000) & (unique_billboard_tracks_df['year']>=1990)]
billboard_2000s = unique_billboard_tracks_df[(unique_billboard_tracks_df['year']<2010) & (unique_billboard_tracks_df['year']>=2000)]
billboard_2010s = unique_billboard_tracks_df[(unique_billboard_tracks_df['year']<2020) & (unique_billboard_tracks_df['year']>=2010)]
billboard_2020s = unique_billboard_tracks_df[unique_billboard_tracks_df['year']>=2020]

unique_billboard_tracks_df.head()

billboard_1970s[billboard_1970s['weeks-at-no1'].isna()==False].sort_values('weeks-at-no1', ascending=False)

,song,artist,year,peak-rank,weeks-on-board,weeks-at-no1
21,'Til,The Angels,1961,17,10,NaN
22,'Til,The Angels,1962,14,14,NaN
31,(1-2-3-4-5-6-7) Count The Days,Inez & Charlie Foxx,1968,76,5,NaN
32,(A Ship Will Come) Ein Schiff Wird Kommen,Lale Anderson,1961,88,4,NaN
34,(All Of A Sudden) My Heart Sings,Mel Carter,1965,38,7,NaN
...,...,...,...,...,...,...
35020,Zip Code,The Five Americans,1967,36,7,NaN
35021,Zip-A-Dee Doo-Dah,Bob B. Soxx And The Blue Jeans,1962,9,7,NaN
35022,Zip-A-Dee Doo-Dah,Bob B. Soxx And The Blue Jeans,1963,8,13,NaN
35028,Zorba The Greek,Herb Alpert & The Tijuana Brass,1965,82,1,NaN
35029,Zorba The Greek,Herb Alpert & The Tijuana Brass,1966,11,12,NaN

In [165]:
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials
cid = 'a1e735be6a3642ad90d76e83d490510a'
secret = '047b92f10bbc473c8e878f0dfc270c82'
client_credentials_manager = SpotifyClientCredentials(client_id=cid, client_secret=secret)
sp = spotipy.Spotify(client_credentials_manager=client_credentials_manager)

In [166]:
def get_track_uri(song_title, artist):
    if 'Featuring' in artist:
        artist = artist.split(' Featuring ')[0]
    try:
        searchResults = sp.search(q=f"artist:{artist} track:{song_title}", type="track", limit=1)
        uri = searchResults['tracks']['items'][0]['uri']
        print(uri)
        return uri
    except:
        if ' & ' in artist:
            try:
                artist = artist.split(' & ')[0]
                searchResults = sp.search(q=f"artist:{artist} track:{song_title}", type="track")
                uri = searchResults['tracks']['items'][0]['uri']
                print(uri)
                return uri
            except:
                print(f'No URI found for {song_title} by {artist}')

In [131]:
def get_audio_features(uri):
    searchResults = sp.audio_features(uri)
    return searchResults

In [167]:
song = "Aquemini"
artist = "Outkast"
# sp.search(q=f"track:{song} artist:{artist}", type='track', limit=1)
print(get_track_uri(song, artist))

spotify:track:4V3N5LvUOh3yDPP16cwAhE
spotify:track:4V3N5LvUOh3yDPP16cwAhE

In [3]:
import swifter
unique_billboard_tracks_df['track_uri'] = unique_billboard_tracks_df[['song', 'artist']].swifter.apply(lambda row:get_track_uri(row.song,row.artist),axis=1)

NameError: name 'unique_billboard_tracks_df' is not defined